ENV=DEV # DEV, STAGING ou PROD
BASE_LOG_LEVEL=INFO
LOG_FILE_PATH=logs/app.log # Definido como padrão para a aplicação, mas pode ser alterado.
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=

## DEV
DEV_SECRET_KEY=
DEV_LOG_LEVEL=


## STAGING
STAGING_ALLOWED_HOSTS=
STAGING_SECRET_KEY=
STAGING_LOG_LEVEL=
STAGING_POSTGRES_DB=
STAGING_POSTGRES_USER=
STAGING_POSTGRES_PASSWORD=
STAGING_POSTGRES_HOST=
STAGING_POSTGRES_PORT=

## PROD
PROD_ALLOWED_HOSTS=
PROD_SECRET_KEY=
PROD_LOG_LEVEL=
PROD_POSTGRES_DB=
PROD_POSTGRES_USER=
PROD_POSTGRES_PASSWORD=
PROD_POSTGRES_HOST=
PROD_POSTGRES_PORT=
